html {
    height: 100%;
    width: 100%;
    font-family: Poppins;
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #624E88;
  }
  
  .menu li {
    margin: 0 15px; /* Espaciado entre los elementos */
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #111;
  }

  footer {
    background-color: #624E88;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.left, .center, .right {
    flex: 1;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

.left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.left ul li {
    margin: 5px 0;
}

h1 {
  color: #624e88;
}
h3 {
  color: #cb80ab;
}

h4 {
  color: #8967b3;
}

.img {
  width: 20%;
  border: 4px solid #e6d9a2;
  display: block;
  margin: auto;
}

.logo {
  height: 100px;
}

.inicio-barra {
  display: flex;
  justify-content: center;
  gap: 25%;
  margin: 0 20px 0 20px;
}